@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Стили темы*/
html, body {
  overflow-x: scroll;
  min-width: 320px;
}

@media (min-width: 320px) {
  html, body {
    overflow-x: hidden;
  }
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: calc(1em + 1vw);
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  padding-top: 0px;
}

a, body, input, select, textarea, label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  margin: 0px;
  padding: 0px;
}

*:focus {
  outline: none;
}

img {
  height: auto;
  max-width: 100%;
}

.imageaboutus img {
  width: 100% !important;
}

body, input, select, textarea {
  color: #707070;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #DDD;
}

::-webkit-scrollbar-track {
  border: solid 1px #F1F1F1;
  background-color: #FFF;
}

::selection {
  background-color: #4ccef0;
}

::selection {
  color: #FFF;
}

p {
  padding: 10px 0px 10px 0px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 30px;
  color: #4ccef0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #4ccef0;
}

h6, h6 a, h6 label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  font-size: 15px;
}

@media (min-width: 320px) {
  h6, h6 a, h6 label {
    font-size: 16px;
  }
}
@media (min-width: 760px) {
  h6, h6 a, h6 label {
    font-size: 18px;
  }
}
h5, h5 a, h5 label {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  font-size: 18px;
}

@media (min-width: 320px) {
  h5, h5 a, h5 label {
    font-size: 21px;
  }
}
@media (min-width: 760px) {
  h5, h5 a, h5 label {
    font-size: 24px;
  }
}
h4, h4 a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  line-height: 1.2em;
  font-size: 20px;
}

@media (min-width: 320px) {
  h4, h4 a {
    font-size: 25px;
  }
}
@media (min-width: 760px) {
  h4, h4 a {
    font-size: 30px;
  }
}
h3, h3 a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  line-height: 1.2em;
  font-size: 28px;
}

@media (min-width: 320px) {
  h3, h3 a {
    font-size: 33px;
  }
}
@media (min-width: 760px) {
  h3, h3 a {
    font-size: 38px;
  }
}
h2, h2 a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  line-height: 1em;
  font-size: 40px;
}

@media (min-width: 320px) {
  h2, h2 a {
    font-size: 45px;
  }
}
@media (min-width: 760px) {
  h2, h2 a {
    font-size: 50px;
  }
}
h1, h1 a {
  font-family: "Dosis", "Dosis";
  font-style: normal;
  font-weight: 300;
  line-height: 1em;
  font-size: 45px;
}

@media (min-width: 320px) {
  h1, h1 a {
    font-size: 50px;
  }
}
@media (min-width: 760px) {
  h1, h1 a {
    font-size: 55px;
  }
}
a {
  color: #4ccef0;
}

a:hover {
  color: #4ccef0;
}

input, button, textarea {
  box-sizing: border-box;
  -webkit-appearance: none;
}

input, select, button, textarea {
  width: 100%;
}

button {
  border: none;
  outline: none;
}

input, select, button, textarea, .widget_search label, label.pb-infield-label, label.theme-infield-label {
  border-radius: 0;
  -moz-box-sizing: border-box;
  padding: 0px 15px 0px 15px;
}

select, button, input[type=button], input[type=submit] {
  cursor: pointer;
}

input[type=submit], input[type=button] {
  width: 100%;
  border: none;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  padding: 0px 20px 0px 20px;
}

button, select, input[type=tel], input[type=text], input[type=email], input[type=submit], input[type=button], input[type=search], input[type=password], label.pb-infield-label, label.theme-infield-label, .widget_search label {
  height: 46px;
  line-height: 1.5em;
}

input, textarea {
  display: block;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
#portalContent {
  padding: 33px 0;
  min-height: 55vh;
}

#portalContent h1, #portalContent h2, #portalContent h3, #portalContent h4, #portalContent h5, #portalContent h6 {
  margin-bottom: 20px !important;
}

#portalContent .fa {
  color: #FE6500;
  transition: all 0.7s linear;
}

#portalContent .portal-p {
  padding: 5px 0px 5px 0px !important;
}

#portalContent .portal-p i {
  color: #fe6500;
  margin-right: 5px;
}

#portalContent .roundedImg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#portalContent .blockPortal {
  padding-top: 20px;
  padding-bottom: 20px;
}

#portalContent .colorBlock {
  border-left: 2px solid #52d0f1;
  padding-left: 22px;
  margin-left: 6px;
  padding-bottom: 20px;
  padding-top: 15px;
}

@media (min-width: 768px) {
  #portalContent .colorBlock {
    border-left: 5px solid #52d0f1;
  }
}
#portalContent .colorBlock--orange {
  border-color: #fe6500;
}

#portalContent .colorBlock--yellow {
  border-color: #f9e821;
}

#portalContent .colorBlock__title {
  display: flex;
  align-items: center;
}

#portalContent .colorBlock__title h4 {
  margin: 5px 0px 5px 0px;
  margin-right: 15px;
}

#portalContent .colorBlock__title h5 {
  margin: 5px 0px 5px 0px;
}

#portalContent .colorBlock__title--orange h4 {
  color: #fe6500;
}

#portalContent .colorBlock__title--yellow h4 {
  color: #f9e821;
}

#portalContent li {
  list-style: none;
  padding-left: 30px;
  position: relative;
}

#portalContent .circleBullet:before {
  content: "·";
  position: absolute;
  left: 0;
  vertical-align: middle;
  color: #d35347;
  font-size: 60px;
  line-height: 20px;
}

#portalContent .circleBullet:nth-child(3n+1):before {
  color: #f0e652;
}

#portalContent .circleBullet:nth-child(3n+3):before {
  color: #4ccef0;
}

#portalContent li:before {
  content: "☑ ";
  position: absolute;
  left: 0;
  font-size: 20px;
  vertical-align: middle;
  line-height: 22px;
  color: #FE6500;
}

#portalContent .portalRecommendation:first-child {
  padding-left: 0;
}

#portalContent .portalRecommendation:not(:first-child) {
  padding-left: 40px;
}

#portalContent .portalRecommendation:first-child:before {
  content: "";
  position: absolute;
  left: 0;
}

#portalContent .colorBlock li:before {
  content: "·";
  position: absolute;
  left: 0;
  vertical-align: middle;
  color: #d35347;
  font-size: 60px;
  line-height: 20px;
}

#portalContent .colorBlock li:nth-child(3n+1):before {
  color: #f0e652;
}

#portalContent .colorBlock li:nth-child(3n+3):before {
  color: #4ccef0;
}

#portalContent .warningBoxPortal--grey {
  background-color: #f5f5f5;
  padding: 15px;
}

#portalContent .form-control, #portalContent textarea, #portalContent input[type=tel], #portalContent input[type=text], #portalContent input[type=email], #portalContent input[type=name], #portalContent input[type=search], #portalContent input[type=password] {
  border-radius: 5px 5px 0 0;
  border-color: #E8E8E8;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  height: 46px;
  line-height: 46px;
}

#portalContent .form-control:focus, #portalContent textarea:focus, #portalContent input[type=tel]:focus, #portalContent input[type=text]:focus, #portalContent input[type=email]:focus, #portalContent input[type=name]:focus, #portalContent input[type=search]:focus, #portalContent input[type=password]:focus {
  border-color: #FE6500;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-style: solid;
  box-shadow: none;
  color: #707070;
}

.portalProfile {
  position: relative;
  margin: 8% auto 0;
  padding: 15px 20px;
  border-left: 4px solid #FE6500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.portalProfile p {
  padding: 5px 0;
}

.portalProfile i {
  color: #FE6500;
  margin-right: 10px;
}

.portal__btn {
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #FE6500;
  padding: 16px 26px 16px 26px;
  color: #fff;
  display: inline-block;
  text-align: center;
}

.portal__btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #4ccef0;
}

.portal__btn--blue {
  background-color: #4ccef0;
}

.portal__btn--blue:hover {
  color: #fff;
  background-color: #f0e247;
}

.portal__btn--grey {
  background: #d7d7d7;
  color: #707070;
}

.portal__btn--grey:hover {
  color: #fff;
  background-color: #4ccef0;
}

.portal__btn--darkgrey {
  background: #C0C0C0;
  color: #fff;
}

.portal__btn--darkgrey:hover {
  color: #fff;
  background-color: #4ccef0;
}

.incomplete {
  color: #eb6f61;
  font-weight: bold;
}

.incomplete i, .incomplete .fas {
  color: #eb6f61 !important;
}

.portal__classname {
  color: #fe6500;
  font-weight: bold;
}

.portal__classname:hover {
  text-decoration: none;
}

.modal-content .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-content .modal-header .close {
  background-color: #fff;
  border: 3px solid #808080;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-shadow: none;
  opacity: 1;
}

.modal-content .modal-header .close:focus {
  outline: none;
}

.modal-content .modal-header .close span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -7px;
}

.modal-content .modal-header .close:hover {
  color: #FE6500;
  background-color: #fff;
  opacity: 1;
}

.modal-content .modal-footer {
  border-top: none;
}

.modal-content .modal-body {
  text-align: left;
}

#assistanceMessage {
  min-height: 200px;
  margin-top: 15px;
}

.monthly {
  background-color: #fff !important;
  font-size: 0.8em;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(224, 224, 224, 0.9);
}

.monthly .monthly-today .monthly-day-number {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 2.6em;
}

.monthly .monthly-indicator-wrap {
  position: absolute;
  bottom: 0;
}

.monthly .monthly-event-list {
  background: white;
  padding: 0 20px 15px;
  border-radius: 10px;
  overflow: auto;
  position: absolute;
  top: 4em;
  left: 0;
  width: 100%;
  height: calc(100% - 4em);
  display: none;
  transition: 0.25s;
  transform: scale(0);
}

.monthly .monthly-list-item {
  border: none;
  color: #808080;
}

.monthly .monthly-list-item:nth-child(2n) {
  background-color: #f8f8f8;
}

.monthly .monthly-list-item:hover {
  color: #555;
  background-color: #f0f0f0;
}

.monthly .listed-event {
  background-color: #67d5f2 !important;
  position: relative;
}

.monthly .monthly-event-indicator {
  background-color: #67d5f2 !important;
}

.monthly .monthly-header-title a:link, .monthly .monthly-header-title a:visited {
  border: 1px solid #eee;
  color: #808080;
}

.monthly .monthly-header-title-date, .monthly .monthly-header-title-date:hover {
  background: #eee !important;
  border: 1px solid #eee !important;
  color: #808080;
}

.monthly .monthly-header-title a:active {
  background: #f0e247;
  border: 1px solid #f0e247;
}

.monthly .monthly-header-title a:hover {
  color: #fff !important;
}

.portalTimeShedule {
  background-color: #fff !important;
  font-size: 0.8em;
  padding: 15px 0px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(224, 224, 224, 0.9);
  text-align: center;
}

.open .fa {
  transform: rotate(-180deg);
}

.divider:last-child {
  display: none;
}

#portalContactForm .portalContactForm__textarea, #portalTechAssistanceForm .portalContactForm__textarea {
  max-width: 800px;
  height: 198px;
}

#portalContactForm .portalContactForm__btn, #portalTechAssistanceForm .portalContactForm__btn {
  max-width: 800px;
  width: 100%;
}

.error404 {
  font-size: 160px;
  line-height: 160px;
  font-weight: bold;
  display: flex;
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
  .error404 {
    font-size: 80px;
    line-height: 80px;
  }
}
.error404 div {
  display: inline;
  margin-right: 15px;
}

.error404 div:first-child {
  color: #fe6500;
}

.error404 div:nth-child(2) {
  color: #4ccef0;
}

.error404 div:nth-child(3) {
  color: #f0e247;
  transform: rotate(-35deg);
}

.error404 div:nth-child(4) {
  margin-left: 10px;
}

.nextClassItem {
  width: 49%;
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
  .nextClassItem {
    width: 100%;
  }
}
#assessmentSchedule .assessment-enroll {
  padding: 5px 10px;
  background: #d7d7d7;
  color: #707070;
  width: 100%;
}

#assessmentSchedule .assessment-enroll:hover {
  color: #fff;
  background-color: #4ccef0;
}

#assessmentSchedule h5 {
  color: #707070;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 20px;
}

#additionalEnrichment ul {
  flex-wrap: wrap;
  display: flex;
}

#additionalEnrichment ul li {
  flex: 1 0 33%;
}

.discount {
  padding: 0.75rem 1.25rem;
  background-color: #FFEEE3;
  color: #222;
}
.discount__heading {
  color: #4ccef0;
  font-weight: bold;
}
.discount .promocode {
  color: #4ccef0;
  font-weight: bold;
}